<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />

    <sectionGroup name="capabilities">
      <section name="single" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="local" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="parallel" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </sectionGroup>

    <sectionGroup name="environments">

      <!-- CHROME ON WINDOWS 10 -->
      <section name="chrome70win10" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="chrome69win10" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="chrome62win10" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="chrome63win10" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />

      <!-- CHROME ON WINDOWS 7 -->
      <section name="chrome70win7" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="chrome69win7" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />

      <!-- CHROME ON WINDOWS 8.1 -->
      <section name="chrome70win81" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="chrome69win81" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />

      <!-- CHROME ON WINDOWS 8 -->
      <section name="chrome70win8" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="chrome69win8" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />

      <!-- CHROME ON MAC OS -->
      <section name="chrome70macos" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="chrome69macos" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />

      <!-- CHROME ON iOS (MANUAL TEST REQUIRED - Browserstack Automate does not support Chrome on iOS devices)-->
      <section name="chrome70ios" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="chrome69ios" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />

      <!-- CHROME ON iOS (MANUAL TEST REQUIRED - Browserstack Automate does not support Chrome on Android devices)-->
      <section name="chrome70android" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="chrome69android" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />

      <!-- FIREFOX ON WINDOWS 10 -->
      <section name="firefox63win10" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="firefox62win10" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />

      <!-- FIREFOX ON WINDOWS 8.1 -->
      <section name="firefox63win81" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="firefox62win81" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />

      <!-- FIREFOX ON WINDOWS 7 -->
      <section name="firefox63win7" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="firefox62win7" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />

      <!-- FIREFOX ON MAC OS -->
      <section name="firefox63osx" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="firefox62osx" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />

      <!-- IE ON WINDOWS 10 -->
      <section name="ie11win10" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />

      <!-- IE ON WINDOWS 8.1 -->
      <section name="ie11win81" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />

      <!-- IE ON WINDOWS 7 -->
      <section name="ie11win7" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="ie10win7" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="ie9win7" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="ie8win7" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />

      <!-- EDGE ON WINDOWS 10 -->
      <section name="edge17win10" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="edge16win10" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />

      <!-- SAFARI ON MAC OS -->
      <section name="safari12macos" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="safari11macos" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="safari10macos" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="safari9macos" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />

      <!-- ####################### IPAD #################### -->
      <section name="ipad" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />

      <!-- ####################### IPHONE #################### -->
      <section name="iphone" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />

      <!-- ####################### ANDROID DEVICE #################### -->
      <section name="android" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />

    </sectionGroup>
  </configSections>

  <appSettings>
    <add key="BaseUrl" value="__testBaseUrl__" />
    <add key="user" value="__BrowserStackUser__" />
    <add key="key" value="__BrowserStackKey__" />
    <add key="server" value="hub-cloud.browserstack.com" />
  </appSettings>

  <capabilities>
    <single>
      <add key="build" value="specflow-browserstack" />
      <add key="name" value="single_test" />
      <add key="browserstack.debug" value="true" />
    </single>
    <local>
      <add key="build" value="specflow-browserstack" />
      <add key="name" value="local_test" />
      <add key="browserstack.debug" value="true" />
      <add key="browserstack.local" value="true" />
    </local>
    <parallel>
      <add key="build" value="dfc.providerportal.automatedtests.{0:yyyyMMdd}" />
      <add key="name" value="{scenariotitle}" />
      <add key="browserstack.debug" value="true" />
      <add key="project" value="UITesting.Browserstack" />
    </parallel>
  </capabilities>

  <environments>

    <!-- ####################### CHROME BROWSER #################### -->
    
    <!-- CHROME ON WINDOWS 10 -->
    <chrome70win10>
      <add key="os" value="WINDOWS" />
      <add key="os_version" value="10" />
      <add key="browserName" value="chrome" />
      <add key="version" value="70" />
    </chrome70win10>
    <chrome69win10>
      <add key="os" value="WINDOWS" />
      <add key="os_version" value="10" />
      <add key="browserName" value="chrome" />
      <add key="version" value="69" />
    </chrome69win10>
    <chrome62win10>
      <add key="os" value="WINDOWS" />
      <add key="os_version" value="10" />
      <add key="browserName" value="chrome" />
      <add key="version" value="62" />
    </chrome62win10>
    <chrome63win10>
      <add key="os" value="WINDOWS" />
      <add key="os_version" value="10" />
      <add key="browserName" value="chrome" />
      <add key="version" value="63" />
    </chrome63win10>
    
    <!-- CHROME ON WINDOWS 8.1 -->
    <chrome70win81>
      <add key="os" value="WINDOWS" />
      <add key="os_version" value="8.1" />
      <add key="browserName" value="chrome" />
      <add key="version" value="70" />
    </chrome70win81>
    <chrome69win81>
      <add key="os" value="WINDOWS" />
      <add key="os_version" value="8.1" />
      <add key="browserName" value="chrome" />
      <add key="version" value="69" />
    </chrome69win81>

    <!-- CHROME ON WINDOWS 8 -->
    <chrome70win8>
      <add key="os" value="WINDOWS" />
      <add key="os_version" value="8" />
      <add key="browserName" value="chrome" />
      <add key="version" value="70" />
    </chrome70win8>
    <chrome69win8>
      <add key="os" value="WINDOWS" />
      <add key="os_version" value="8" />
      <add key="browserName" value="chrome" />
      <add key="version" value="69" />
    </chrome69win8>

    <!-- CHROME ON WINDOWS 7 -->
    <chrome70win7>
      <add key="os" value="WINDOWS" />
      <add key="os_version" value="7" />
      <add key="browserName" value="chrome" />
      <add key="version" value="70" />
    </chrome70win7>
    <chrome69win7>
      <add key="os" value="WINDOWS" />
      <add key="os_version" value="7" />
      <add key="browserName" value="chrome" />
      <add key="version" value="69" />
    </chrome69win7>

    <!-- CHROME ON MAC OS -->
    <chrome70macos>
      <add key="os" value="OS X" />
      <add key="os_version" value="High Sierra" />
      <add key="browserName" value="chrome" />
      <add key="version" value="70" />
    </chrome70macos>
    <chrome69macos>
      <add key="os" value="OS X" />
      <add key="os_version" value="High Sierra" />
      <add key="browserName" value="chrome" />
      <add key="version" value="69" />
    </chrome69macos>

    <!-- CHROME ON iOS (MANUAL TEST REQUIRED - Browserstack Automate does not support Chrome on iOS devices)-->
    <chrome70ios>
      <add key="device" value="iPad Pro" />
      <add key="realDevice" value="true" />
      <add key="os_version" value="11.2" />
      <add key="browserstack.appium_version" value="1.6.5" />
    </chrome70ios>
    <chrome69ios>
      <add key="device" value="iPad Pro" />
      <add key="realDevice" value="true" />
      <add key="os_version" value="11.2" />
      <add key="browserstack.appium_version" value="1.6.5" />
    </chrome69ios>

    <!-- CHROME ON iOS (MANUAL TEST REQUIRED - Browserstack Automate does not support Chrome on Android devices)-->
    <chrome70android>
      <add key="device" value="Samsung Galaxy S8 Plus" />
      <add key="realMobile" value="true" />
      <add key="os" value="android" />
      <add key="browser" value="Android" />
      <add key="deviceOrientation" value="portrait" />
    </chrome70android>
    <chrome69android>
      <add key="device" value="Samsung Galaxy S8 Plus" />
      <add key="realMobile" value="true" />
      <add key="os" value="android" />
      <add key="browser" value="Android" />
      <add key="deviceOrientation" value="portrait" />
    </chrome69android>


    <!-- ####################### FIREFOX BROWSER #################### -->

    <!-- FIREFOX ON WINDOWS 10 -->
    <firefox63win10>
      <add key="os" value="Windows" />
      <add key="os_version" value="10" />
      <add key="browserName" value="Firefox" />
      <add key="version" value="63.0" />
    </firefox63win10>
    <firefox62win10>
      <add key="os" value="Windows" />
      <add key="os_version" value="10" />
      <add key="browserName" value="Firefox" />
      <add key="version" value="62.0" />
    </firefox62win10>

    <!-- FIREFOX ON WINDOWS 8.1 -->
    <firefox63win81>
      <add key="os" value="Windows" />
      <add key="os_version" value="8.1" />
      <add key="browserName" value="Firefox" />
      <add key="version" value="63.0" />
    </firefox63win81>
    <firefox62win81>
      <add key="os" value="Windows" />
      <add key="os_version" value="8.1" />
      <add key="browserName" value="Firefox" />
      <add key="version" value="62.0" />
    </firefox62win81>

    <!-- FIREFOX ON WINDOWS 7 -->
    <firefox63win7>
      <add key="os" value="Windows" />
      <add key="os_version" value="7" />
      <add key="browserName" value="Firefox" />
      <add key="version" value="63.0" />
    </firefox63win7>
    <firefox62win7>
      <add key="os" value="Windows" />
      <add key="os_version" value="7" />
      <add key="browserName" value="Firefox" />
      <add key="version" value="62.0" />
    </firefox62win7>

    <!-- FIREFOX ON MAC OS -->
    <firefox63osx>
      <add key="os" value="OS X" />
      <add key="os_version" value="High Sierra" />
      <add key="browserName" value="Firefox" />
      <add key="version" value="63.0" />
    </firefox63osx>
    <firefox62osx>
      <add key="os" value="OS X" />
      <add key="os_version" value="High Sierra" />
      <add key="browserName" value="Firefox" />
      <add key="version" value="62.0" />
    </firefox62osx>


    <!-- ####################### INTERNET EXPLORER BROWSER #################### -->
    
    <!-- IE ON WINDOWS 10 -->
    <ie11win10>
      <add key="os" value="WINDOWS" />
      <add key="os_version" value="10" />
      <add key="browserName" value="IE" />
      <add key="version" value="11.0" />
    </ie11win10>
    
    <!-- IE ON WINDOWS 8.1 -->
    <ie11win81>
      <add key="os" value="WINDOWS" />
      <add key="os_version" value="8.1" />
      <add key="browserName" value="IE" />
      <add key="version" value="11.0" />
    </ie11win81>

    <!-- IE ON WINDOWS 7 -->
    <ie11win7>
      <add key="os" value="WINDOWS" />
      <add key="os_version" value="7" />
      <add key="browserName" value="IE" />
      <add key="version" value="11.0" />
    </ie11win7>
    <ie10win7>
      <add key="os" value="WINDOWS" />
      <add key="os_version" value="7" />
      <add key="browserName" value="IE" />
      <add key="version" value="10.0" />
    </ie10win7>
    <ie9win7>
      <add key="os" value="WINDOWS" />
      <add key="os_version" value="7" />
      <add key="browserName" value="IE" />
      <add key="version" value="9.0" />
    </ie9win7>
    <ie8win7>
      <add key="os" value="WINDOWS" />
      <add key="os_version" value="7" />
      <add key="browserName" value="IE" />
      <add key="version" value="8.0" />
    </ie8win7>


    <!-- ####################### EDGE BROWSER #################### -->

    <!-- EDGE ON WINDOWS 10 -->
    <edge17win10>
      <add key="os" value="WINDOWS" />
      <add key="os_version" value="10" />
      <add key="browserName" value="Edge" />
      <add key="version" value="17.0" />
    </edge17win10>
    <edge16win10>
      <add key="os" value="WINDOWS" />
      <add key="os_version" value="10" />
      <add key="browserName" value="Edge" />
      <add key="version" value="16.0" />
    </edge16win10>


    <!-- ####################### SAFARI BROWSER #################### -->

    <!-- SAFARI ON MAC OS -->
    <safari12macos>
      <add key="os" value="OS X" />
      <add key="os_version" value="Mojave" />
      <add key="browserName" value="safari" />
      <add key="version" value="12.0" />
    </safari12macos>
    <safari11macos>
      <add key="os" value="OS X" />
      <add key="os_version" value="High Sierra" />
      <add key="browserName" value="safari" />
      <add key="version" value="11.0" />
    </safari11macos>
    <safari10macos>
      <add key="os" value="OS X" />
      <add key="os_version" value="Sierra" />
      <add key="browserName" value="safari" />
      <add key="version" value="10.0" />
    </safari10macos>
    <safari9macos>
      <add key="os" value="OS X" />
      <add key="os_version" value="El Capitan" />
      <add key="browserName" value="safari" />
      <add key="version" value="9.1" />
    </safari9macos>


    <!-- ####################### IPAD #################### -->    

    <ipad>
      <add key="os_version" value="11.0" />
      <add key="device" value="iPad 5th" />
      <add key="realMobile" value="true" />
      <!--<add key="os" value="ios" />
      <add key="browser" value="iPad" />-->
      <add key="deviceOrientation" value="portrait" />
    </ipad>

    
    <!-- ####################### IPHONE #################### -->

    <iphone>
      <add key="device" value="iPhone 7 Plus" />
      <add key="realMobile" value="true" />
      <add key="os" value="ios" />
      <add key="browser" value="iPhone" />
      <add key="deviceOrientation" value="portrait" />
    </iphone>

    
    <!-- ####################### ANDROID DEVICE #################### -->    
    
    <android>
      <add key="device" value="Samsung Galaxy S8 Plus" />
      <add key="realMobile" value="true" />
      <add key="os" value="android" />
      <add key="browser" value="Android" />
      <add key="deviceOrientation" value="portrait" />
    </android>   

  </environments>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <specFlow>
    <unitTestProvider name="NUnit" />
    <!--<stepAssemblies>
      <stepAssembly assembly="UITesting.ProviderPortal" />
    </stepAssemblies>-->
  </specFlow>
</configuration>

