<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />

    <sectionGroup name="capabilities">
      <section name="single" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="local" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="parallel" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </sectionGroup>

    <sectionGroup name="environments">
        <section name="chrome" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <section name="macchrome" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <section name="firefox" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <section name="macfirefox" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <section name="safari" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <section name="ie8" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <section name="ie9" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <section name="ie10" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <section name="ie11" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <section name="opera" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <section name="edge" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <section name="ipad" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <section name="iphone" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <section name="android" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </sectionGroup>
  </configSections>

  <appSettings>
    <add key="user" value="__BrowserStackUser__" />
    <add key="key" value="__BrowserStackKey__" />
    <add key="server" value="hub-cloud.browserstack.com" />
    <add key="BaseUrl" value="__testBaseUrl__" />
    <!--<add key="BaseUrl" value="https://www.gov.uk" />-->
  </appSettings>

  <capabilities>
    <single>
      <add key="build" value="specflow-browserstack" />
      <add key="name" value="single_test" />
      <add key="browserstack.debug" value="true" />
    </single>
    <local>
      <add key="build" value="specflow-browserstack" />
      <add key="name" value="local_test" />
      <add key="browserstack.debug" value="true" />
      <add key="browserstack.local" value="true" />
    </local>
    <parallel>
      <add key="build" value="dfc.providerportal.automatedtests.{0:yyyyMMdd}" />
      <add key="name" value="{scenariotitle}" />
      <add key="browserstack.debug" value="true" />
      <add key="project" value="UITesting.Browserstack" />
    </parallel>
  </capabilities>

  <environments>
    <chrome>
      <add key="os" value="WINDOWS" />
      <add key="os_version" value="8" />
      <add key="browserName" value="chrome" />
      <add key="version" value="62" />
    </chrome>
    <macchrome>
      <add key="os" value="OS X" />
      <add key="os_version" value="High Sierra" />
      <add key="browserName" value="chrome" />
      <add key="version" value="62" />
    </macchrome>
    <firefox>
      <add key="os" value="WINDOWS" />
      <add key="os_version" value="8.1" />
      <add key="browserName" value="firefox" />
      <add key="version" value="56" />
    </firefox>
    <macfirefox>
      <add key="os" value="OS X" />
      <add key="os_version" value="High Sierra" />
      <add key="browserName" value="firefox" />
      <add key="version" value="56" />
    </macfirefox>
    <safari>
      <add key="os" value="OS X" />
      <add key="os_version" value="High Sierra" />
      <add key="browserName" value="safari" />
      <add key="version" value="11" />
    </safari>
    <ie8>
      <add key="os" value="WINDOWS" />
      <add key="os_version" value="7" />
      <add key="browserName" value="internet explorer" />
      <add key="version" value="8" />
    </ie8>
    <ie9>
      <add key="os" value="WINDOWS" />
      <add key="os_version" value="7" />
      <add key="browserName" value="internet explorer" />
      <add key="version" value="9" />
    </ie9>
    <ie10>
      <add key="os" value="WINDOWS" />
      <add key="os_version" value="8" />
      <add key="browserName" value="internet explorer" />
      <add key="version" value="10" />
    </ie10>
    <ie11>
      <add key="os" value="WINDOWS" />
      <add key="os_version" value="10" />
      <add key="browserName" value="internet explorer" />
      <add key="version" value="11" />
    </ie11>
    <edge>
      <add key="os" value="WINDOWS" />
      <add key="os_version" value="10" />
      <add key="browserName" value="edge" />
      <add key="version" value="16" />
    </edge>
    <ipad>
      <add key="device" value="iPad 6th" />
      <add key="realDevice" value="true" />
      <add key="os_version" value="11.3" />
    </ipad>
    <iphone>
      <add key="device" value="iPhone 7 Plus" />
      <add key="realMobile" value="true" />
      <add key="os" value="ios" />
      <add key="browser" value="iPhone" />
      <add key="deviceOrientation" value="portrait" />
    </iphone>
    <android>
      <add key="device" value="Samsung Galaxy S8 Plus" />
      <add key="realMobile" value="true" />
      <add key="os" value="android" />
      <add key="browser" value="Android" />
      <add key="deviceOrientation" value="portrait" />
    </android>   

  </environments>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <unitTestProvider name="NUnit" />
    <!--<stepAssemblies>
      <stepAssembly assembly="UITesting.ProviderPortal" />
    </stepAssemblies>-->
  </specFlow>
</configuration>

