<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
	<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" /></configSections>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --><unitTestProvider name="NUnit" />
	
  <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --></specFlow>
	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
		<targets>
			<target name="file" xsi:type="File" fileName="${cached:cached=true:inner=${basedir}/${date:format=yyyy-MM-ddTHH-mm-ss}}.log" layout="${longdate}|${uppercase:${level}}|${message}" />
		</targets>
		<rules>
			<logger name="*" minlevel="Trace" writeTo="file" />
		</rules>
	</nlog>
  <appSettings>
    
    <add key="UKRLP" value="__testUKRLPEndpoint__" />
    <add key="UKRLP_Key" value="__testUKRLPCode__"/>
    <add key="LARS" value="__testLARSEndpoint__" />
    <add key="LARS_Key" value="__testLARSAPIKey__"/>
    
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
