<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <add key="targetUrl" value="__target_url__" />
    <add key="zapReportPath" value="\\__reports_path__\\" />
    <add key="zapAPIKey" value="__api_key__" />
    <add key="zapHost" value="localhost" />
    <add key="zapPort" value="8096" />
    <add key="RunZAPScans" value="True"/>

  </appSettings>
</configuration>