<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="targetUrl" value="__testTargetUrl__" />
    <add key="UKRLPEndpoint" value="__UKRLPEndpoint__" />
    <add key="UKRLP_Key" value="UKRLP_Key__"/>
    <add key="LARSEndpoint" value="__LARSEndpoint__" />
    <add key="LARS_Key" value="__LARS_Key__"/>
    <add key="zapReportPath" value="\\OWASPReports\\" />
    <add key="zapAPIKey" value="__ZAPAPIKey__" />
    <add key="zapHost" value="localhost" />
    <add key="zapPort" value="8096" />
    <add key="RunZAPScans" value="True"/>
  </appSettings>
</configuration>