<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <appSettings>
    <add key="useBS" value="true" />
    <add key="BaseUrl" value="__testBaseUrl__"/>
    <add key="BaseUrlVenues" value="__BaseUrlVenues__" />
    <add key="BaseUrlCourses" value="__BaseUrlCourses__" />
    <add key="QualUrl" value="__QualUrl__" />
    <add key="BaseUrlProviders" value="__BaseUrlProviders__" />
    <add key="user" value="__BrowserStackUser__" />
    <add key="key" value="__BrowserStackKey__" />
    <add key="server" value="hub-cloud.browserstack.com" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="dFEUser" value="__dFEUser__" />
    <add key="dFEPassword" value="__dFEPassword__" />
    <add key="AdminUser" value="__adminUser__" />
    <add key="AdminPassword" value="__adminPassword__" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <unitTestProvider name="NUnit" />
  </specFlow>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>